@use '@styles/Variables.scss' as *;
@use '@styles/Mixins.scss' as *;

.feature-card {
  @include flex(column, flex-start, stretch, nowrap, 0);
  padding: 16px;
  border-radius: $border-radius;
  background-color: $surface-color;
  border: 1px solid $border-color;
  width: 100%;

  &-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary-color;
  }
  &-description {
    font-size: 1rem;
    font-weight: 400;
    flex-grow: 1;
  }
  &-index {
    font-size: 1rem;
    font-weight: 400;
    background: $primary-color;
    color: $text-accent-color;
    padding: 15px 20px;
    border-radius: 50%;
    width: fit-content;
    margin-top: 16px;
  }
}
@media (min-width: $breakpoint-small) {
  .feature-card {
    max-width: 310px;
    padding: 24px;
  }
}