@use '@/styles/global.scss' as *;

.secondary-button {
  & {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $surface-color;
    color: $text-color;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    padding: 2px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  &:hover {
    background-color: $primary-color;
    color: $surface-color;
  }
  &-label {
    font-size: 14px;
    font-weight: 500;
    color: $text-color;
    margin: 0;
  }
}
