DATABASE_URL="postgresql://your_db_user:your_secure_password@localhost:5434/your_db_name"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
UPLOAD_BASE_PATH="storage path"
UPLOAD_API_PATH="storage path"
RAW_FILES_PATH="storage path"
CONVERTED_TO_OBJ_PATH="storage path"
THUMBNAIL_PATH="storage path"
CONVERSION_API_PATH="storage path"
CONVERTER_INPUT_PATH="storage path"
CONVERTER_OUTPUT_PATH="storage path"
TEMP_FILES_PATH="storage path"