// Colors
$bg-color: #f9fafb;
$surface-color: #ffffff;
$primary-color: #d0245e;
$secondary-color: #cccbcbd4;
$tertiary-color: #3f3f3f;

// Fonts Colors
$text-color: #000000;
$text-accent-color: #ffffff;
$text-secondary-color: #575757;

// Fonts
$font-family-rounded: 'M PLUS Rounded 1c', sans-serif;

// Borders
$border-radius: 5px;
$border-color: #d4d4d4;

// Breakpoints
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1280px;

// Sidebar
$sidebar-width-small: 200px;
$sidebar-width-medium: 220px;
$sidebar-width-large: 290px;
