@use './Variables' as *;
@use './_Mixins.scss' as *;

.footer{
    &-container{
        margin-top: 50px;
        @include flex(column, center, center, nowrap, 20);
        padding: 20px;
        border-top: 1px solid $border-color;
    }
   &-links{
    @include flex(column, center, center, nowrap, 20);
   }
   &-link{
    text-decoration: none;
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
   }
   &-right{
    @include flex(row, center, center, nowrap, 10);
   }
   &-social-link{
    text-decoration: none;
    color: $text-color;
    border: 1px solid $border-color;
    padding: 5px;
    border-radius: 50%;
    @include flex(row, center, center, nowrap, 0);
   }
   &-copyright{
    text-align: center;
    margin-bottom: 20px;
   }
}
@media screen and (min-width: $breakpoint-small) {
    .footer{
        &-container{
            @include flex(row, space-between, center, nowrap, 20);

        }
        &-left{
            @include flex(row, start, center, nowrap, 50);
        }
        &-links{
            @include flex(row, center, center, nowrap, 20);
        }
    }
}

