@use './Variables' as *;
@use './_Mixins.scss' as *;

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(135deg, #0a192ff8 0%, #2d0a16 100%);
  > canvas {
    height: 100% !important;
    max-height: 100% !important;
    position: absolute !important;
  }
}
.home-page {

.hero {
  &-container {
    @include flex(column, center, center, nowrap, 0);
    height: 82vh;
    position: relative;
    overflow: hidden;
  }
  &-content {
    @include flex(column, center, center, nowrap, 0);
  }
  &-title {
    color: $primary-color;
    font-weight: 700;
    font-size: clamp(2.9rem, 5vw, 4rem);
    text-align: center;
  }
  &-paragraph {
    color: $text-accent-color;
    text-align: center;
    font-weight: 400;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
  }
  &-button {
    margin-top: 16px;
    padding: 12px;
  }
}
.home-container {
  @include flex(column, center, center, nowrap, 30px);
  margin-top: 50px;
}
.features {
  &-title {
    color: $text-color;
    font-weight: 500;
    font-size: clamp(2.2rem, 5vw, 2.8em);
    text-align: center;
    max-width: 1000px;
  }
  &-cards {
    @include flex(row, center, stretch, wrap, 16px);
    width: 100%;
    padding: 10px;
  }
}
.how-to-use {
  &-container {
    @include flex(column, center, center, nowrap, 20px);
    transform-origin: center;
    will-change: transform;
    overflow: hidden;
  }
  &-title {
    color: $text-color;
    font-weight: 500;
    font-size: clamp(2.2rem, 5vw, 2.8rem);
    text-align: center;
    margin-bottom: 20px;
  }
  &-video-container {
    @include flex(column, center, center, nowrap, 0);
    transform-origin: center;
    will-change: transform;
  }
  &-video {
    width: 80%;
    max-width: 1200px;
    height: auto;
    border-radius: $border-radius;
  }
}

.faq {
  &-container {
    @include flex(column, center, stretch, nowrap, 20px);
    max-width: 1000px;
    padding: 10px;
  }
  &-title {
    color: $text-color;
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 2.5rem);
    text-align: center;
  }
}
@media (min-width: $breakpoint-small) {
    .features {
      &-cards {
        @include flex(row, center, stretch, wrap, 30px);
        margin-top: 20px;
      }
  }
}
}