@use './_Variables' as *;

.search-bar{
padding: 10px 5px;
}
.search-bar-input{
    width: 100%;
    max-width: 500px;
    padding: 10px 5px;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    outline: none;
    font-size: 1rem;
    padding-left: 10px;
    font-weight: 400;
    color: $text-color;
    background-color: $surface-color;

}