@use './_Variables' as *;

.search-bar {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  outline: none;
  font-size: 1rem;
  padding-left: 10px;
  font-weight: 400;
  color: $text-color;
  background-color: $surface-color;
}
.search-bar-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
@media (min-width: $breakpoint-small) {
  .search-bar {
    width: 50%;
  }
}